body[dir=rtl] {

    .intercom-snippet-body, .intercom-snippet-body span, .intercom-snippet-body h1, .intercom-notifications-dismiss-button, .intercom-notifications-dismiss-button span {

        font-family: "El Messiri", sans-serif !important;
        direction: rtl !important;

    }

    .intercom-notifications-dismiss-button-icon {
        margin-right: 5px !important;
        margin-left: 0px !important;
    }

}

body[dir=ltr] {


    .intercom-snippet-body, .intercom-snippet-body span, .intercom-snippet-body h1, .intercom-notifications-dismiss-button, .intercom-notifications-dismiss-button span {

        font-family: "Roboto", sans-serif !important;
        direction: ltr !important;

    }

}

.intercom-author-summary-name, .intercom-author-summary-from-clause {
    font-family: "Roboto", sans-serif !important;
}
