body[dir=rtl] {

    .intercom-app-container {

        iframe {

            font-family: "El Messiri", sans-serif !important;

        }

    }

}

.intercom-app-container {

    iframe {

        font-family: "Roboto", sans-serif !important;

    }
}


#intercom-container {

    .intercom-app-container {

        .intercom-app {

            .intercom-messenger-frame {

                iframe {

                    #intercom-container {
                        font-family: "Roboto", sans-serif !important;
                    }

                }

            }


        }

    }

}
